<?xml version="1.0"?>

<launch>

	<group ns="oculus_teleop">
		
		<rosparam command="load" file="$(find husky_control)/config/teleop_ps4.yaml" />
		<node pkg="joy_server" type="joy_server_node" name="joy_node" output="screen" />
		<node pkg="teleop_twist_joy" type="teleop_node" name="teleop_twist_joy" />

	</group>
</launch>
